services:
  mongo:
    image: mongo
    container_name: mongo_coder
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - ./data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo_express_coder
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
    depends_on:
      - mongo

  backend:
    build: .
    container_name: backend_coder
    restart: always
    ports:
    - "8080:8080"
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      MONGO_URL: mongodb://admin:admin123@mongo:27017
